:root {
    --md-primary-fg-color: #1e783c;
    --md-primary-fg-color--light: #29a753;
    --md-primary-fg-color--dark: #186130;
    --md-accent-fg-color: #ffa500;
    --md-accent-fg-color--light: #ffb836;
    --md-accent-fg-color--dark: #c47f00;
}

.md-typeset h1 {
    font-weight: 500;
}

.md-typeset h4+dl, .md-typeset dd {
    margin-top: 0;
    margin-bottom: 0;
}

.md-typeset dd>p {
    margin-top: 0;
}

.md-typeset h2::after {
    content: '';
    background-color: var(--md-primary-fg-color--dark);
    display: block;
    width: 50px;
    height: 5px;
    margin-top: 5px;
    opacity: 0.5;
}

.md-typeset h3::after {
    content: '';
    background-color: var(--md-accent-fg-color--dark);
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 5px;
    opacity: 0.5;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset .admonition .admonition-title{
    font-size: 0.64rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: unset;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    width: unset;
    height: 2rem;
}

#collapsible-ul, #collapsible-ul>li:first-child {
    list-style-type: none;
}

#collapsible-ul {
    margin: 0;
    padding: 0;
}

#collapsible-ul li {
    margin-left: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: var(--md-default-fg-color--light);
    display: inline-block;
    margin-right: 6px;
    scale: 0.5;
}

.caret-down::before {
    transform: rotate(90deg);
}

#collapsible-ul .nested {
    display: none;
    padding-left: 15px;
    list-style-type: circle;
}

#collapsible-ul .nested ul {
    list-style-type: square;
}

#collapsible-ul .nested.active {
    display: block;
}

#collapsible-ul .nested li {
    margin-left: 14px;
}

img.body-img {
    width: 100%;
    display: block;
    margin: auto;
}

img.body-img-mid {
    max-width: 300px;
}

img.body-img-wide {
    max-width: 600px;
}

img.ds {
    filter: drop-shadow(2px 4px 10px #808080);
}