:root {
    --md-primary-fg-color: #1e783c;
    --md-primary-fg-color--light: #29a753;
    --md-primary-fg-color--dark: #186130;
    --md-accent-fg-color: #ffa500;
    --md-accent-fg-color--light: #ffb836;
    --md-accent-fg-color--dark: #c47f00;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: unset;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    width: unset;
    height: 2rem;
}

h2 {
    margin: 4rem 0rem 2rem 0rem !important;
    border-bottom: solid 1px rgb(70, 150, 236);
}

h3 {
    margin: 3rem 0rem 1rem 0rem !important;
    padding: 0rem 0rem 0.5rem 0.5rem !important;
    border-left: solid 2px rgb(70, 150, 236);
}

#collapsible-ul, #collapsible-ul > li:first-child {
    list-style-type: none;
}

#collapsible-ul {
    margin: 0;
    padding: 0;
}

#collapsible-ul li {
    margin-left: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: var(--md-default-fg-color--light);
    display: inline-block;
    margin-right: 6px;
    scale: 0.5;
}

.caret-down::before {
    transform: rotate(90deg);
}

#collapsible-ul .nested {
    display: none;
    padding-left: 15px;
    list-style-type: circle;
}

#collapsible-ul .nested ul {
    list-style-type: square;
}

#collapsible-ul .nested.active {
    display: block;
}

#collapsible-ul .nested li {
    margin-left: 14px;
}